In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error

In [36]:
filename = 'housing.data'

In [19]:
names = ['CRIM','ZN','INDUS','CHAS','NOX','RM','AGE','DIS','RAD','TAX','PTRATIO','B','LSTAT','MEDV']

In [39]:
dataset = pd.read_csv(filename, names = names)

In [40]:
dataset

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632 18.00 2.310 0 0.5380 6.5750 65...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.02731 0.00 7.070 0 0.4690 6.4210 78...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.02729 0.00 7.070 0 0.4690 7.1850 61...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.03237 0.00 2.180 0 0.4580 6.9980 45...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.06905 0.00 2.180 0 0.4580 7.1470 54...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263 0.00 11.930 0 0.5730 6.5930 69...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502,0.04527 0.00 11.930 0 0.5730 6.1200 76...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
503,0.06076 0.00 11.930 0 0.5730 6.9760 91...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
504,0.10959 0.00 11.930 0 0.5730 6.7940 89...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
505,0.04741 0.00 11.930 0 0.5730 6.0300 80...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
array = dataset.values

In [22]:
X = array[:,0:13]

In [23]:
y = array[:,-1]

In [24]:
X = dataset.iloc[:,0:13]

In [25]:
y = dataset.iloc[:,-1]

In [26]:
X

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632 18.00 2.310 0 0.5380 6.5750 65...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.02731 0.00 7.070 0 0.4690 6.4210 78...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.02729 0.00 7.070 0 0.4690 7.1850 61...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.03237 0.00 2.180 0 0.4580 6.9980 45...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.06905 0.00 2.180 0 0.4580 7.1470 54...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263 0.00 11.930 0 0.5730 6.5930 69...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502,0.04527 0.00 11.930 0 0.5730 6.1200 76...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
503,0.06076 0.00 11.930 0 0.5730 6.9760 91...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
504,0.10959 0.00 11.930 0 0.5730 6.7940 89...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
505,0.04741 0.00 11.930 0 0.5730 6.0300 80...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
test_size = 0.20

In [ ]:
seed = 42

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = test_sixze, random_state = seed)

In [ ]:
num_folds = 10
seed = 42

In [ ]:
scoring = 'neg_mean_squared_error'

In [ ]:
model = KNeighborsRegressor()

In [ ]:
kfold = KFold(n_splits = num_folds, shuffle = False)

#shuffle = True, random_state = seed

In [ ]:
kfold.get_n_splits(X_train)

In [ ]:
print(kfold)

In [ ]:
for train_index, validate_index in kfold.split(X_train):
    print("TRAIN:", train_index, "VALIDATE:", validate_index)

In [ ]:
cv_results = cross_val_score(model, X_train, y_train, cv = kfold, scoring = scoring)

In [ ]:
msg = "KNN: %f (%f)" % (cv_results.mean(), cv_results.std())
print(msg)

In [ ]:
cv_results

In [ ]:
scaler = StandardScaler().fit(X_train)

In [ ]:
rescaled_X_train = scaler.transform(X_train)

In [ ]:
k_values = np.arange(1,22)

In [ ]:
param_grid = dict(n_neighbors=k_values)

In [ ]:
model = KNeighborsRegressor()

In [ ]:
kfold = KFold(n_splits = num_folds, shuffle=True, random_state = seed)

In [ ]:
grid = GridSearchCV(estimator=model, param_grid = param_grid, scoring = scoring, cv = kfold)

In [ ]:
grid_result = grid.fit(rescaled_X_train, y_train)

In [ ]:
print("Best: %f using %s" %(grid_result.best_score_, grid_result.best_params_)

In [ ]:
means = grid_result.cv_results_['mean_test_score']

In [ ]:
stds = grid_result.cv_results_['std_test_score']

In [ ]:
params = grid_result.cv_results_['params']

In [ ]:
for mean, stds, params in zip(means, stds, params):
    print("%f (%f) with: %r" % (mean, stds, params))

In [ ]:
plt.plot(k_values, means)
plt.xlabel("Number of neighbors K")
plt.ylabel("Negative MSE")

In [ ]:
scaler = StandardScaler().fit(X_train)

In [ ]:
rescaled_X_train = scaler.transform(X_train)

In [ ]:
model = KNeighborsRegressor(n_neighbors = 2)

In [ ]:
model.fit(rescaled_X_train, y_train)

In [ ]:
rescaled_X_test = scaler.transform(X_test)

In [ ]:
estimates = model.predict(rescaled_X_test)

In [ ]:
estimates

In [ ]:
y_test

In [ ]:
mean_squared_error(y_test, estimates)